<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poussiere.babybooh">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activite1.EcouteActivity"
            android:label="@string/title_activity_ecoute"
            android:screenOrientation="portrait" />
        <activity
            android:name=".annexes.EnregistrerActivity"
            android:label="@string/title_activity_enregistrer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poussiere.babybooh.MainActivity" />
        </activity>
        <activity
            android:name=".mainFragment2.StatsActivity"
            android:label="@string/title_activity_stats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppCompatPreferenceActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainFragment3.IdMonstreActivity"
            android:label="@string/title_activity_id_monstre"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mainFragment3.ChasseFullScreenActivity"
            android:label="@string/title_activity_chasse_full_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mainFragment3.TableauDeChasseActivity"
            android:label="@string/title_activity_tableau_de_chasse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".annexes.EnregistrerRecyclerViewAdapter" />
        <activity
            android:name=".annexes.EnregistrerActivity2"
            android:label="@string/title_activity_enregistrer"
            android:parentActivityName=".annexes.EnregistrerActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".bdd.EvenementsProvider"
            android:authorities="com.poussiere.babybooh"
            android:exported="false" />

        <activity
            android:name=".mainFragment2.DetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".annexes.CalibreActivity"></activity>
    </application>

</manifest>